*.iml
.gradle
/local.properties
/.idea/caches/build_file_checksums.ser
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
将删除 .idea/codeStyles/
将删除 .idea/gradle.xml
将删除 .idea/misc.xml
将删除 .idea/runConfigurations.xml
将删除 .idea/vcs.xml
将删除 app/libs/
将删除 app/src/androidTest/
将删除 app/src/test/
将删除 gradle/
将删除 .idea/caches/gradle_models.ser
将删除 .idea/encodings.xml
